
    

        <body>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="">
            <!-- partial:index.partial.html -->
            <form action="">
                <div class="box-form">
                    <div class="left">
                        <div class="overlay">
                            <h1 style="font-size: 5.0rem;">PHOENIX TEAM</h1>
                            <p>Register to access the best Platform for Your Shopping Needs</p>
                            <span>
                                <p>login with social media</p>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    Login with Twitter</a>
                            </span>
                        </div>
                    </div>


                    <div class="right">
                        <h5 style="font-size: 2.5rem; margin-bottom:30px;">Register</h5>
                        <p> Have an account with us?
                            <a href="login">login to your existing account</a>
                            it takes less than a minute to complete, SIGN UP NOW</p>
                        <div class="inputs">
                            <input type="text" placeholder="user name" required>
                            <br>
                            <input type="text" placeholder="Firstname" required>
                            <br>
                            <input type="text" placeholder="Lastname" required>
                            <br>
                            <input type="password" placeholder="password" required>
                            <br>
                            <input type="password" placeholder="Re-enter password" required>
                            <br>
                            <input type="email" placeholder="Email" required>
                       
                       
                        </div>

                        <br><br>

                        <div
                            class="remember-me--forgot-password">
                            <!-- Angular -->
                            <!-- <div style="display:inline">
                                <span for="checkbox">Remember me</span>
                                <input type="checkbox" style="position:relative; height:5px" class="item" check="">
                                
                            </div> -->
                            <a href="#top">forget password?</a>
                        </div>

                        <br>
                        <button type="submit">Register</button>
                    </div>

                </div>
                <!-- partial -->
            </form>
        </body>
    
