<body>
        <div class="row">
            <div class="col-md-6">

    
        <h3>Contact us</h3>
            </div>
            <div class="col-md-6">
        
        <p>Need to get in touch with us? Either fill out the form with your inquiry or find <a href="#top">department email</a> you 'd like to contact below.</p>
        <div class="form">
        <div class="form__input">
          <input className="" type="text" placeholder="First name">
          <input className="" type="text" placeholder="Last name">
          <input className="" type="email" placeholder="E-mail">
          <br>
          <textarea rows="3" cols="25">
          </textarea>
          <br>
          <button className="" type="submit">Submit</button>
        </div>
        </div>
        </div>
        </div>
</body>